<h1><%= @article.title%></h1>
<p><%= @article.content%></p>


<%# <a href="/articles">Back to the index</a> %>
<form method="POST" action="/articles/<%=@article.id%>">
<input id="hidden" type="submit" name="_method" value="DELETE">
</form>