<h1>Here you can change your Article</h1>
<form action="/articles/<%= @article.id %>" method="post">
<input id="hidden" type="hidden" name="_method" value="PATCH">
    <input type="text" name="title" placeholder="<%= @article.title %>">
    <input type="text" name="content" placeholder="<%= @article.content %>">
    <input type="submit">
</form>