<h1>Edit your Article!</h1>

<h2><%= @article.title %></h2>

<p><%= @article.content %></p>


<form method="POST" action="/articles/<%= @article.id %>">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
	Title: <input type=text name="title"><br />
	Content: <input type=text name="content"><br />
	<input type="submit" >
</form>
