<h1>Please create a new Article</h1>

<form method="POST" action="/articles">
<p>Please enter a title: <input type="text" name="title"></p>
<p>Please enter the content: <input type="text" name="content"></p>
<input type="submit" value="submit">
</form> 