<%= @articles.title %>
<%= @articles.content %>
<form method="POST" action="/articles/<%= @articles.id %>">
<input id="hidden" type="hidden" name="_method" value="DELETE">
<input type="submit">
</form>